CompileFlags:
  CompilationDatabase: out/build/x64-Debug
  Add:
    - -std=c++20
    - -I.
    - -Iinclude
    - -Iaddons
    - -Ithird_party/imgui
    - -Ithird_party/imgui/backends
    - -Iprojects/zweitesProjekt
    - -Iprojects/zweitesProjekt/Assets/Scripts
    - -Iprojects/zweitesProjekt/generated
    - -DKROM_EDITOR_HAS_IMGUI=1
    - -DNOMINMAX
    - -DWIN32_LEAN_AND_MEAN
